.title{
  border: 1px solid black;
  width: 100vw;
  position: fixed;
  background-color: white;
  box-shadow: 15px 2px 10px 2px black;
  display: block;
  text-align: center;
}
a{
  background-color: green;
  color: white;
  text-decoration: none;
  width: 100px;

}
a:hover{
  background-color: rgb(3, 97, 26);
}
.menu-item a {
  display: block;
  padding: 5px 10px; 

}
p{
  width: 100vw;
  padding-top: 80px; 
  margin-bottom: 30px ;
}
 .menu-item {
  float: left;
  border-left: 1px solid #000;
  background: #E1E1E1;
}
  
.submenu {
  display: none; 
  position: absolute;
  background: #E1E1E1;
}
.submenu-item {
  border-bottom: 1px solid  rgb(21, 54, 21);
}
 .menu-item:hover .submenu {
  display: block; 
}
.submenu-item:hover .sub-submenu{
  display: block;
  
}
.sub-submenu{
  position: absolute;
  top: 25px;
  left: 120px;
  background-color: #E1E1E1;
  display: none;
}





